/* GLOBAL */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

html {
	font-size: 100%;
}

h3, h4, h5, h6 {
	color: inherit;
}

pre {
	font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
}

.rst-content blockquote pre {
	line-height: normal;
}

/* NAV BAR STYLES */

body, .wy-nav-side {
	background: #ebebeb;
}

/* SUPERNAV */

.supernav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: white;
  color: #ff0046;
  border-bottom: 1px solid #eee;
}
.supernav-item-docs {
	background-color: #f3f3f3;
}
@media screen and (max-width: 768px) {
  .wy-nav-content-wrap.shift {
    top: 46px;
  }
}
nav.stickynav {
  padding-top: 66px;
}

/* NAV TOP SECTION */

.wy-side-nav-search {
	background: transparent;
}

.wy-side-nav-search img.big-logo {
	display: block;
	width: 70%;
	height: auto;
	margin: 20px auto;
	background-color: transparent;
	border-radius: 0;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
	color: #555;
}

.wy-side-nav-search input[type=text] {
	border-color: rgba(0,0,0,0.2);
}

/* NAV ITEMS */

.wy-menu-vertical span {
	font-size: 70%;
	font-weight: bold;
	text-transform: uppercase;
	color: #666;
}

.wy-menu-vertical a {
	color: #555;
}

.wy-menu-vertical li ul li a {
	color: #666;
}

.wy-menu-vertical a:hover {
	background-color: rgba(0,0,0,0.05);
}

.wy-menu-vertical a:active {
	color: #666;
	background-color: rgba(0,0,0,0.1);
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
	border: none;
	padding: 0.4045em 2.427em;
}

.wy-menu-vertical li.current {
	background: white;
}

.wy-menu-vertical li.current ul li a {
	padding-left: 3.5em;
}

.wy-menu-vertical li.current ul li a.toctree-l4 {
	padding-left: 5em;
}

.wy-menu-vertical li.current a {
	border-right: none;
}

.wy-menu-vertical li.current ul li a:hover {
	background-color: rgba(0,0,0,0.05);
}

.wy-menu-vertical li.current ul li a:active {
	background-color: rgba(0,0,0,0.1);
}

/* NAV FOOTER */

.rst-versions {
    background: #555;
    border-top: none;
}

.rst-versions .rst-current-version {
	background-color: transparent;
}

/* MAIN STYLES */

.rst-content blockquote {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 4px solid rgba(0,0,0,0.1);
}